.related-article {
  padding: 30px 0;
  border-top: 10px solid $color-black10;
  border-bottom: 10px solid $color-black10;

  .title-container {
    padding: 0 15px;
    text-align: center;
  }

  /* .title-container {
    display: inline-block;
    padding: 0.5rem 0;
    border-top: 1px solid $color-black10;
    .title {
      font-family: $san-serif;
      font-size: $font-size-sm;
      font-weight: $font-light;
      color: $color-black80;
      margin-bottom: 1rem;
    }
  } */
}
