.related-article {
  padding: 30px 15px;
  border-top: 10px solid $color-black10;
  border-bottom: 10px solid $color-black10;

  .title-container {
    padding: 0 15px;
    text-align: center;
  }

  .article-container {
    padding-left: 0;
    padding-right: 0;
  }
}
