.loadmore-container {
  width: 100%;
  padding: 0 15px;
  p {
    text-align: center;
    font-size: $font-size-sm;
  }
  .btn {
    display: block;
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
  }
}

.article-group {
  .article {
    &:first-child {
      display: block;
    }
    display: none;
  }
}
