.article-image {
  .image-wrapper {
    .image-container {
      margin: 0 -15px;
      @mixin md {
        margin: 0 -30px;
      }
      .article-image {
        width: 100%;
        max-width: unset;
      }
    }
  }
}
.article-video {
  .video-wrapper {
    .video-container {
      margin: 0 -15px;
      @mixin md {
        margin: 0 -30px;
      }
      .article-video {
        width: 100%;
        max-width: unset;
      }
    }
  }
}
